@use "./colorPalette" as *;
@use "./typography" as *;
@use "./breakpoints" as *;

.about-me {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: $lightdark;
    width: 100vw; 
    margin-bottom: 5vh;
    margin-top: 3vh;

    p {
        padding-top: 2.5vh;
        padding-bottom: 1vh;
        color: $dark;
        text-align: center;
        font-size: $smaller;
        margin-top: 2px;
        width: 90%;
        align-self: center;

        @include for-desktop-up {    
            font-size: $mediumD;
            width: 50%;
         }

         @include for-tablet {    
            font-size: $mediumT;
            width: 80%;
         }

    }
}