@use "./colorPalette" as *;
@use "./typography" as *;

.about-me {
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: $lightdark;
    width: 100vw; 
    margin-bottom: 5vh;

    p {
        color: $mediumLight;
        text-align: center;
        font-size: $smaller;
        margin-top: 2px;
    }
}