@use "./colorPalette" as *;
@use "./typography" as *;
@use "./breakpoints" as *;

footer {
    background-color: $color4;
    height: 5vh;
    width: 60vw;
    margin: 1vw;
    margin-bottom: 3vh;
    border-radius: 25px;

    //display
    display: flex;
    justify-content: space-between;

    @include for-desktop-up {    
        width: 40vw; 
     }
    
    
    img {
        height: 90%;
        width: auto;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    p {
        align-self:center;
        color: $color1;
        font-family: $logoFont;
        font-size: $small;
    }
}