@use "./colorPalette" as *;
@use "./typography" as *;
@use "./breakpoints" as *;

footer {
    height: 5vh;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
    border-radius: 25px;

    //display
    display: flex;
    justify-content: center;

    @include for-desktop-up {    
        width: 40vw; 
     }
    
    
    img {
        height: 90%;
        width: auto;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    p {
        align-self:center;
        color: $mediumLight;
        font-family: $mainFont;
        font-size: $small;
    }
}