@use "./colorPalette" as *;
@use "./typography" as *;

.header {

    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header__title {
        font-family: $titles;
        text-align: center;
        font-size: $large;
        color:$mediumLight;
        margin-bottom: 0;
    }

    .header__line{
        width: 40vw;
        height: 17px;
        border-top: 1px solid $mediumLight;
        margin-top: 0;
    }
}