@use "./colorPalette" as *;
@use "./typography" as *;

.header {

    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;

    .header__title {
        font-family: $titles;
        text-align: center;
        font-size: $small;
        color:$mediumLight;
        margin-bottom: 0;
        display:flex;
        flex-direction: column;
    }

    .header__title--wrapper {
        display:flex;
        margin-bottom: -65px;
        align-self: center;
    }

}