@use "./colorPalette" as *;
@use "./typography" as *;

.header {

    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 1vh;;

    .header__title {
        font-family: $titles;
        text-align: center;
        font-size: $small;
        color:$mediumLight;
        margin-bottom: 0;
        display:flex;
        flex-direction: column;
    }

    .header__line{
        width: 40vw;
        height: 17px;
        border-top: 1px solid $mediumLight;
        margin-top: -10px;
        margin-bottom: 20px;
        align-self: center;
    }

    .header__title--wrapper {
        display:flex;
        margin-bottom: -45px;
        align-self: center;
    }

}