@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

//Fonts

$logoFont: 'Satisfy';
$mainFont: "Open Sans";

//Sizes

$small: 1.5rem;
$medium: 2.5rem;
$large:3rem;