@use "./typography" as *;
@use "./colorPalette" as *;
@use "./nav" as *;
@use "./header" as *;
@use "./aboutMe" as *;
@use "./main" as *;
@use "./projects" as *;
@use "./skills" as *;
@use "./footer" as *;
@use "./animation" as *;
@use "./workExperience" as *;

body {

    background-color: $dark;
    color: $mediumLight;
    font-family: $mainFont;
    display: flex;
    flex-direction: column;
    align-items: center;
}
