@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
.nav {
  /* Look */
  height: 5vh;
  font-family: "Satisfy";
  font-size: 2.5rem;
  color: #ECE0CC;
  width: 80vw;
  margin-bottom: 4vh;
  /* Display */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav * {
  margin-left: 15px;
  margin-right: 15px;
}
.nav .nav__menuIcon {
  height: 100%;
  width: auto;
}

.header {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header .header__title {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 1.8rem;
  color: #ECE0CC;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
.header .header__title--wrapper {
  display: flex;
  margin-bottom: -65px;
  align-self: center;
}

.about-me {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #d8c00b;
  width: 100vw;
  margin-bottom: 5vh;
  margin-top: 3vh;
}
.about-me p {
  padding-top: 2.5vh;
  padding-bottom: 1vh;
  color: #165663;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2px;
  width: 90%;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
}
.projects .projects__box {
  margin: 5vw;
  width: 33vw;
  height: 33vw;
  border: solid 1px #ECE0CC;
  border-radius: 25px;
  color: #ECE0CC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}
.projects .projects__box .projects__line {
  width: 60%;
  height: 2px;
  border-bottom: 1px solid #ECE0CC;
  margin-top: 15%;
  margin-bottom: 15%;
}
.projects .projects__box a {
  text-decoration: none;
}
.projects .projects__box a:visited {
  color: #ECE0CC;
}
.projects .projects__box a:hover {
  color: #d8c00b;
}
@media (min-width: 480px) {
  .projects .projects__box {
    margin: 4vw;
    width: 20vw;
    height: 20vw;
  }
}
@media (min-width: 1025px) {
  .projects .projects__box {
    margin: 2vw;
    width: 10vw;
    height: 10vw;
  }
}

.skills {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2vh;
}
.skills figure {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  align-items: center;
}
.skills figure img {
  height: 100%;
  margin-top: 2vh;
}
.skills figure figcaption {
  margin-top: 0.5vh;
}

footer {
  height: 5vh;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 3vh;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1025px) {
  footer {
    width: 40vw;
  }
}
footer img {
  height: 90%;
  width: auto;
  margin-left: 6vw;
  margin-right: 6vw;
}
footer p {
  align-self: center;
  color: #ECE0CC;
  font-family: "Zilla Slab";
  font-size: 1.8rem;
}

.header__title--slideright {
  -webkit-animation: slideRight 3s ease-out;
          animation: slideRight 3s ease-out;
}

@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-200%);
    color: #165663;
  }
  100% {
    transform: translateX(0%);
    color: #ECE0CC;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-200%);
    color: #165663;
  }
  100% {
    transform: translateX(0%);
    color: #ECE0CC;
  }
}
.header__title--slideleft {
  -webkit-animation: slideLeft 3s ease-out;
          animation: slideLeft 3s ease-out;
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(200%);
    color: #165663;
  }
  100% {
    transform: translateX(0%);
    color: #ECE0CC;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(200%);
    color: #165663;
  }
  100% {
    transform: translateX(0%);
    color: #ECE0CC;
  }
}
.header__title--appear {
  -webkit-animation: appear 3s forwards;
          animation: appear 3s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  color: #165663;
}

@-webkit-keyframes appear {
  0% {
    color: #165663;
  }
  100% {
    color: #ECE0CC;
  }
}

@keyframes appear {
  0% {
    color: #165663;
  }
  100% {
    color: #ECE0CC;
  }
}
.workExperience {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8c00b;
  color: #165663;
}
.workExperience .workExperience__title {
  font-size: 1.8rem;
}
.workExperience .workExperience__work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workExperience .workExperience__work h4 {
  margin-bottom: 0px;
  font-size: 1.2rem;
}

body {
  background-color: #165663;
  color: #ECE0CC;
  font-family: "Zilla Slab";
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */